@import "https://unpkg.com/open-props";
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

body {
  font-family: 'Londrina Solid', sans-serif;
  font-size: var(--font-size-3);
  letter-spacing: 0.5px;
  color: var(--purple-1);
  text-align: center;
}

h1 a {
text-decoration: none;
color: white;

}

h1 {
  text-align: center;
}

audio {
 width: 40%;
 background: magenta;
 border-radius: 20px;
}

div {
width: 500px;
height: 1050px;
background-image: var(--gradient-20);
border-radius: 40px;
margin: auto;
box-shadow: var(--shadow-6);
opacity: 80%;
}

.back-video {
  background-image: url(video\ \(1080p\).mp4);
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
}