@import "https://unpkg.com/open-props";
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');

body {
  font-family: 'Londrina Solid', sans-serif;
  font-size: var(--font-size-5);
  letter-spacing: 0.5px;
  color: white;
  text-align: center;
}

h1 a {
text-decoration: none;
color: white;
}

h1 {
  text-align: center;
  color: white;
}

audio {
 position: relative;
  width: 55%;
 background: magenta;
 border-radius: 20px;
 opacity: 70%;
 top: 20px;
}

div {
width: 800px;
height: 1700px;
background-image: var(--gradient-20);
border-radius: 40px;
margin: auto;
box-shadow: var(--shadow-6);
animation: var(--animation-pulse);
opacity: 80%;
}


.back-video {
  background-image: url(video\ \(1080p\).mp4);
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
    min-width: 100%;
    min-height: 100%;
}